.div-task {
  height: 50px;
}
.div-backgrounddd {
  background-color: #9fffcb;
}
.div-title {
  height: 40px;
  padding-top: 10px;
  font-size: 21px;
  font-weight: bold;
  margin-left: 5%;
}
.div-adddd {
  height: 40px;
  margin-left: 2%;
  align-content: center;
  text-align: center;
  width: 96%;
  background-color: #51f099;
  margin-top: 20px;
}
.div-add:hover {
  cursor: pointer;
}
.div-listtt {
  height: 55px;
  background-color: #cfffe4;
  margin-left: 2%;
  width: 96%;
  margin-top: 10px;
}
